.title {
    font-size: 7vh;
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
    
}